body{
  background-color: #DDBDEF;}

.hola{
  display:flex;
  justify-content: center;
  color: #5E89EB;
  font-size: 50px;
  font-family: fantasy;}

img{
  width: 350px;
  height:275px;}

button{
  width: 350px;
  height:275px;}
h2{
  font-size: 50px;
  font-family: cursive;
  color: #5E89EB;
  text-align: center;}
@media only screen and (max-width:800px) {
  body{
    background-color: white;
    border: 10px dotted #5E89EB;}
  h2{
    font-family:fantasy;
    color: #5E32EB;}
.hola{
  color: #5E32EB;}
  img{
    width:250px;
    height:175px;}
  button{
    width:250px;
    height:175px;}
  }
img:hover{
  border: 2px dashed black;
}
